html {
  font-size: 62.5%;
}

:root {
  --color-primary: #a445ed;
  --color-error: #ff5252;
  --color-secondary: #ffffff;
  --color-heading: #1f1f1f;
  --color-text: #2d2d2d;
  --color-define: #757575;
  --color-searchBg: #f4f4f4;
  --color-dark: #050505;
}

.error {
  text-align: center;
  font-size: large;
  padding: 5rem;
  font-weight: 600;
  background-image: url("./assets/images/circle-exclamation-solid.svg");
  background-repeat: no-repeat;
  background-position: 50% 6%;
  background-size: 10%;
}
section {
  padding: 2rem;
}

/*light*/
body {
  font-family: sans-serif;
  margin: 0 auto;
  max-width: 768px;
  background-color: var(--color-secondary);
  box-sizing: border-box;
}

.dark {
  background-color: var(--color-dark);
  color: var(--color-secondary);
}

.light {
  background-color: var(--color-secondary);
}

.dark .container {
  background-color: transparent;
}

.dark .options {
  color: var(--color-secondary);
  background-color: transparent;
}
.dark .moon-img {
  filter: invert(30%) sepia(53%) saturate(3462%) hue-rotate(258deg)
    brightness(98%) contrast(90%);
}
.dark .search__container {
  background-color: var(--color-heading);
}
.dark input[type="text"]::placeholder {
  color: var(--color-secondary);
}
.dark input[type="text"] {
  color: var(--color-secondary);
}
h2 {
  font-size: 3.5rem;
  letter-spacing: 0;
}
p {
  font-size: 2rem;
}

.nav__header {
  display: flex;
  flex-direction: row;
  justify-content: space-between;
  align-items: center;
  padding: 2.5rem;
  height: 10vh;
}

.logo {
  width: 10%;
}

.nav__header--container {
  display: flex;
  justify-content: flex-end;
  align-items: center;
  width: 65%;
}
.container {
  width: 50%;
  background-color: #fff;
  display: flex;
  flex-wrap: wrap;
  justify-content: flex-end;
  border-left: 1px solid rgba(121, 119, 119, 0.5);
}
select {
  display: inline-block;
  appearance: none;
  -webkit-appearance: none;
  width: 105%;
  font-size: 1.5rem;
  font-weight: 600;
  background-color: #fff;
  border: 1px solid #caced1;
  border-radius: 0.25rem;
  color: var(--color-heading);
  cursor: pointer;
  background-image: url("./assets/images/icon-arrow-down.svg");
  background-repeat: no-repeat;
  background-position: 90% 50%;
  background-size: 15%;
  outline: none;
  border: transparent;
  padding: 2rem;
}

option {
  background: var(--color-secondary);
  font-weight: 600;
  height: 100%;
}

.font-text {
  width: 80%;
  margin-right: 1rem;
}
.dark .font-text {
  color: var(--color-searchBg);
}

/*.sideline:after {
  content: " ";
  height: 1px;
  width: 60%;
  background: #e9e9e9;
  display: block;
  position: relative;
  top: -1rem;
  right: -11rem;
}*/
.sideline-noun:after {
  content: " ";
  height: 1px;
  width: 67%;
  background: #e9e9e9;
  display: block;
  position: relative;
  top: -1rem;
  right: -8rem;
}
.sideline-verb:after {
  content: " ";
  height: 1px;
  width: 67%;
  background: #e9e9e9;
  display: block;
  position: relative;
  top: -1rem;
  right: -8rem;
}
.sideline-adverb:after {
  content: " ";
  height: 1px;
  width: 60%;
  background: #e9e9e9;
  display: block;
  position: relative;
  top: -1rem;
  right: -10rem;
}
.sideline-adjective:after {
  content: " ";
  height: 1px;
  width: 55%;
  background: #e9e9e9;
  display: block;
  position: relative;
  top: -1rem;
  right: -12rem;
}
.sideline-interjection:after {
  content: " ";
  height: 1px;
  width: 48%;
  background: #e9e9e9;
  display: block;
  position: relative;
  top: -1rem;
  right: -14rem;
}
.sideline-footer:after {
  content: " ";
  height: 1px;
  width: 90%;
  background: #e9e9e9;
  display: block;
  position: relative;
  top: -1rem;
  right: -2.3rem;
}
noun-example {
  position: relative;
  top: 50%;
}

input[type="checkbox"] {
  display: none;
}
.dropdown {
  width: 70%;
  background-image: url("./assets/images/icon-arrow-down.svg");
  background-repeat: no-repeat;
  background-position: 90% 50%;
  display: flex;
  flex-direction: column;
  justify-content: center;
  align-items: center;
  cursor: pointer;
}

.dark .select {
  color: var(--color-secondary);
}

.select {
  position: relative;
  font-weight: 600;
  font-size: 1.6rem;
  color: var(--color-heading);
}
.menu {
  position: absolute;
  background-color: var(--color-secondary);
  width: 20rem;
  top: 9rem;
  box-shadow: 0 0.5em 1em rgba(0, 0, 0, 0.2);
  border-radius: 15px;
  font-weight: 600;
}

.hidden {
  display: none;
}

.dark .menu {
  background-color: var(--color-text);
  box-shadow: 0 0.5em 1em rgba(164, 69, 237, 0.2);
}
.menu li:hover {
  color: var(--color-primary);
}

#menu li {
  padding: 1rem;
}
.mono {
  font-family: monospace;
}
.serif {
  font-family: serif;
}
.san-serif {
  font-family: sans-serif;
}

.menu li:before {
  content: "";
}
.active {
  color: var(--color-primary);
}
.button {
  background-color: var(--color-primary);
  width: 52px;
  height: 24px;
  border-radius: 100px;
  cursor: pointer;
  position: relative;
  transition: 0.2s;
  margin-right: 1rem;
}
.button::before {
  position: absolute;
  content: "";
  background-color: var(--color-secondary);
  width: 21px;
  height: 21px;
  border-radius: 100px;
  margin: 0.1rem 0 0.1rem 0.2rem;

  transition: 0.2s;
}

input:checked + .button {
  background-color: var(--color-primary);
}
input:checked + .button::before {
  transform: translateX(27px);
}

.search__container {
  position: relative;
  margin: 0 auto;
  display: flex;
  justify-content: center;
  border: 1px solid transparent;
  width: 90%;
  background-color: var(--color-searchBg);
  border-radius: 15px;
}
input[type="text"] {
  width: 85%;
  height: 5vh;
  border: transparent;
  outline: none;
  background-color: transparent;
  padding-left: 1rem;
  font-size: 2rem;
  font-weight: 500;
  border-radius: 15px;
}

input[type="text"]::placeholder {
  font-weight: 600;
}
.search__container:active {
  border: 1px solid var(--color-primary);
  cursor: pointer;
}
.error__message {
  position: absolute;
  top: 3rem;
  left: 1.5rem;
  color: var(--color-error);
}

.search--error {
  border: 1px solid var(--color-error);
}

.submit__btn {
  border: transparent;
  background-color: transparent;
  background-image: url("./assets/images/icon-search.svg");
  background-repeat: no-repeat;
  background-position: 30% 50%;
  width: 4rem;
}

.result__container {
  margin: 2.5rem 0;
  display: flex;
  flex-wrap: wrap;
  justify-content: space-between;

  align-items: center;
}

.item1 {
  width: 60%;
}

.item1 p {
  color: var(--color-primary);
  padding: 0;
  margin: 0;
  font-size: 2rem;
}
.item1 h2 {
  margin: 0 0 1rem 0;
}
.meaning__container {
  margin: 2rem 0;
}
.meaning__container p {
  display: inline;

  font-size: 2rem;
  font-weight: 600;
}
.meaning__container img {
  position: relative;
  top: -0.5rem;
}
ul {
  list-style: none;
  padding-left: 1.5rem;
}

ul li:before {
  content: "\2022";
  color: var(--color-primary);
  font-weight: bold;
  display: inline-block;
  width: 1em;
  margin-left: -1.5rem;
}

li {
  padding: 1rem 2rem 1rem 2rem;
  font-size: 1.5rem;
}
#footer-text {
  font-size: 1.2rem;
  padding-left: 2.2rem;
  display: inline;
  color: var(--color-text);
}
.dark #footer-text {
  color: var(--color-searchBg);
}
.definition {
  margin: 1rem 0;
}

.definition p {
  padding-left: 2.5rem;
  color: var(--color-text);
  font-size: 1.8rem;
}
.dark .definition p {
  color: var(--color-searchBg);
}

.synonyms-container {
  display: flex;
  justify-content: space-between;
}

span {
  color: var(--color-primary);
  margin-right: 3rem;
}

#example {
  font-size: 1rem;

  color: var(--color-define);
}

.underline {
  max-width: 100%;
}

.footer {
  height: 10rem;
  margin-top: 4rem;
}

.dark a {
  color: var(--color-secondary);
}

a {
  background-image: url("./assets/images/icon-new-window.svg");
  background-repeat: no-repeat;
  background-position: 100% 100%;
  padding: 0 2rem;
}
.selected {
  display: none;
}

@media screen and (min-width: 768px) {
  .sideline-noun:after {
    content: " ";
    height: 1px;
    width: 85%;
    background: #e9e9e9;
    display: block;
    position: relative;
    top: -1rem;
    right: -8rem;
  }
  .sideline-verb:after {
    content: " ";
    height: 1px;
    width: 85%;
    background: #e9e9e9;
    display: block;
    position: relative;
    top: -1rem;
    right: -8rem;
  }
  .sideline-adverb:after {
    content: " ";
    height: 1px;
    width: 85%;
    background: #e9e9e9;
    display: block;
    position: relative;
    top: -1rem;
    right: -10rem;
  }
  .sideline-adjective:after {
    content: " ";
    height: 1px;
    width: 80%;
    background: #e9e9e9;
    display: block;
    position: relative;
    top: -1rem;
    right: -12rem;
  }
  .sideline-interjection:after {
    content: " ";
    height: 1px;
    width: 80%;
    background: #e9e9e9;
    display: block;
    position: relative;
    top: -1rem;
    right: -14rem;
  }
  .sideline-footer:after {
    content: " ";
    height: 1px;
    width: 90%;
    background: #e9e9e9;
    display: block;
    position: relative;
    top: -1rem;
    right: -2.3rem;
  }
  .search__container {
    width: 95%;
  }

  .logo {
    width: 100%;
  }

  .nav__header--container {
    display: flex;
    justify-content: flex-end;
    align-items: center;
    width: 30%;
  }
  .line {
    margin-left: 4rem;
  }

  .sideline-footer:after {
    width: 95%;
  }
  .synonyms-container {
    display: flex;
    justify-content: flex-start;
  }

  span {
    color: var(--color-primary);
  }
  select {
    appearance: none;
    -webkit-appearance: none;
    width: 105%;
    font-size: 1.4rem;
    font-weight: 600;
    background-color: #fff;
    border: 1px solid #caced1;
    border-radius: 0.25rem;
    color: var(--color-heading);
    cursor: pointer;
    background-image: url("./assets/images/icon-arrow-down.svg");
    background-repeat: no-repeat;
    background-position: 100% 50%;
    background-size: 15%;
    outline: none;
    border: transparent;
    position: relative;
  }

  select option {
    background: var(--color-secondary);
    position: absolute;
    top: 100rem;
  }
  option:checked {
    background-color: var(--color-secondary);
  }
  .font-text {
    width: 70%;
    margin-right: 1rem;
  }
  .logo {
    width: 40%;
  }
  .error {
    text-align: center;
    font-size: large;
    padding: 9rem;
    font-weight: 600;
    background-image: url("./assets/images/circle-exclamation-solid.svg");
    background-repeat: no-repeat;
    background-position: 50% 1%;
    background-size: 10%;
  }
}
